name: Continuous Integration

on:
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Lint & Typecheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"
      - name: Install Package and Dependencies
        run:
          uv sync
      - name: Lint
        run:
          uv run ruff check
      - name: Typecheck
        run:
          uv run ty check src/asset_manager
  test:
    name: Test All
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"
      - name: Install Package and Dependencies
        run:
          uv sync
      - name: Install dbmate
        run: |
          sudo curl -fsSL https://github.com/amacneil/dbmate/releases/latest/download/dbmate-linux-amd64 -o /usr/local/bin/dbmate
          sudo chmod +x /usr/local/bin/dbmate
      - name: Run pytest with coverage
        run:
          CI=true uv run pytest --cov=asset_manager
